* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  background: #FFF;
}
.nav-link{
  margin-right: 25px;
  font-family: monospace;
  font-size: 20px;
  color:#FFF !important;
}
.navbar-toggler {
  background-color: rgb(255, 255, 255) !important;
  opacity: 0.6;
}
.briefcase-icon {
  background-image: url("../public/icons/maleta-icon.png");
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 10;
  background-size: 90px 50px;
  height: 50px;
  width: 90px;
}


/* font-family: Gill Sans Extrabold, sans-serif
font-family: "Goudy Bookletter 1911", sans-serif

font-family: sans-serif
font-family: serif
font-family: fantasy
font-family: cursive
font-family: monospace

font-family: inherit */
